.float-r {
    float: right;
}

.title-abs{
    position: relative;
    bottom: 480px;
    left: 12px;
    color: white;
}

.grey-text {
    color: grey;
}

.no-float {
    clear: left;
}

.no-right {
    clear: both;
}